@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}


/* --------------------------------------------------------------- */


.success-message,.erro-message{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    
}
.success-message p,.erro-message p{
    margin: 0;
}
.success-message{
    color: green;
}
.erro-message{
    color: red;
}
.success-message i{
    color: green;
    font-size: 25px;
    font-weight: 800;
}
.erro-message i{
    color: red;
    font-size: 25px;
    font-weight: 800;
}
/* --------------------------------------------------------------- */

.navbar-brand{
    color: #3f3335;
    font-weight: 700;
}

.nav-link:hover, .nav-link.active{
    color: #ff573c!important;
}

.nav-link.login{
    background-color: #ff573c;
    color: white;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link.login:hover{
    color: white!important;
    background: #fc6851;
}
.logoutBtn{
    padding: 6px 20px;
    margin-left: 10px;
    background-color: #3f3335;
    color: white;
}
.hero-banner{
    padding: 220px 0;
    background: url(../src/assests/hero-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-banner h1{
    color: white;
    font-weight: 800;
}
.hero-banner p{
    color: white;
}
.hero-btns{
    display: flex;
}
.hero-btns .hero-btn-1, .hero-btn-2{
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 120px;
}
.hero-btn-1{
    background-color: #ff573c;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}
.hero-btn-2{
    background-color: #3f3335;
}
.hero-btn-1:hover{
    background-color: #fc6851;
    margin-right: 10px;
}
.hero-btn-2:hover{
    background-color: #56494b;
}



.features-sec{
    padding: 100px 0;
}
.feature{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.feature-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature-box i{
    font-size: 35px;
    background-color: #f4efe9;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.feature-box span{
    font-size: 14px;
    margin-top: 20px;
}




/* ---------------------Popular books------------------------------ */
.popular-books{
    padding: 50px 0;
}
.popular-books .popular-header{
    text-align: center;
    margin-bottom: 100px;
}




.product-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 15px;
    height: 100%;
}


.product-image {
       display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px ;
    background-color: rgb(241, 241, 241);
}

.product-card .product-image img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-details {
    padding: 20px;
    text-align: left;
}

.product-card.product-details.product-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.auth-price{
    display: flex;
    justify-content: space-between;
}
.product-card.product-details.product-author {
    display: block;
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.product-price {
    font-size: 20px;
    color: #ff573c;
}


/* ---------------------Popular authors------------------------------ */
.popular-authors{
    padding: 50px 0;
}
.popular-authors .popular-header{
    text-align: center;
    margin-bottom: 100px;
}

 
.author-box{
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}
.author-box img{
 width: 100%;
 object-fit: contain;
}
.author-box .author-title{
  padding: 20px 0 0 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}


.author-image img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}


/* ------------------------NewsLetter------------------------------------ */

.newsletter{
    padding: 100px 0;
    background: url(../src/assests/newsletter-banner.jpg);
    background-color: #33333325;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.newsletter .news-inp{
    display: flex;
}
.newsletter .news-inp input{
   padding: 8px 15px;
   border: 0;
   outline: 0;
   width: 80%;
}
.news-letter-box h2{
    font-weight: 800;
}
.news-letter-box h2, .news-letter-box p{
    color: white;
}
.newsletter .news-inp button{
    background-color: #ff573c;
    color: white;
    padding: 9px 10px;
    border: 0;
    outline: 0;
}


/* ------------------------Footer---------------------------------- */
footer{
   
    background: #333;
}
.footer-wrapper{
    padding: 150px 0;
}
.footer-address h2{
    color: white;
}
.footer-address p{
    margin-top: 10px;
}
.footer-address p, .addr span{
    color: rgb(191, 191, 191);
    font-size: 13px;

}
.footer-address .addr {
    display: flex;
    margin-top: 10px;
}
.footer-address .addr i{
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
   color: #333;
   background-color: #ff573c;
   margin-right: 10px;
}

.footer-link, .footer-policy{
     display: flex;
     flex-direction: column;
}
footer a{
    color: rgb(191, 191, 191);
    text-decoration: none;
    font-size: 13px;
    margin-top: 15px;
}
footer a:hover{
    color: #ff573c;
}
.footer-link span, .footer-policy span{
    color: antiquewhite;
}
.footer-media i{
    font-size: 25px;
    margin-right: 15px;
    color: rgb(191, 191, 191);
}
.footer-media i:hover{
    color: #ff573c;
}
.copywrite .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(153, 153, 153);
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
}
.copywrite .container p{
    padding: 0;
    margin: 0;
}
.copywrite {
    background-color: #1d1d1d25;
    padding: 20px 0;
}

.footer-address, .footer-link, .footer-media, .footer-policy{
    margin-top: 20px;
}



/* ------------------------------Books Page-------------------------------------------------- */

.books-page-banner{
    padding: 100px 0;
    background: url(../src/assests/book-page-banner.jpg);
    background-color: #33333390;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
.books-wrapper-sec{
    padding: 100px 0;
}
.book-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.book-header select{
    padding: 5px 10px;
}
.all-books-sec{
    margin-top: 50px;
}


/* ------------------------------Author Page-------------------------------------------------- */
.author-page-banner{
    padding: 100px 0;
    background: url(../src/assests/author-page-banner.jpg);
    background-color: #33333390;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}




/* ------------------------------signup Page-------------------------------------------------- */
.signup-body, .login-body{
    background: url(../src/assests/signup-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #f4efe9; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-header, .login-header{
    margin-bottom: 30px;
    text-align: center;
}
.signup-body form, .login-body form{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 70px;
    width: 550px;
    border-radius: 5px;
}
.signup-body form .inp-grp,.login-body form .inp-grp{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.signup-body form .inp-grp input, .login-body form .inp-grp input{
    padding: 5px 10px;
    margin-top: 5px;
}
.form-btn{
    width: 100%;
    background-color: #ff573c;
    margin-top: 20px;
    color: white;
    outline: 0;
    border: 0;
    padding: 8px 10px;
}
.form-btn:hover{
    background-color: #fc6851;
}

.signup-body form input::placeholder, .login-body form .inp-grp input::placeholder{
    font-size: 12px;
}
.signup-nav, .login-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
form a{
    text-decoration: none;
}
form .signup-nav , form .login-nav{
    color: #3f3335;
}


/* ------------------------------single product---------------------------------------------------- */

.single-product-wrapper{
    background-color: #f4efe9;
    padding: 100px 0;
}
.single-product-img img{
    width: 80%;
    object-fit: contain;
    aspect-ratio: 1;
}
.single-product-content{
    display: flex;
    flex-direction: column;
}
.single-product-content p{
  line-height: 28px;
  font-size: 14px;
}
.single-product-content .price{
  font-size: 30px;
  font-weight: 600;
  color: #56494b;
}
.single-product-content button{
  background-color: #ff573c;
  color: #ffffff;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  margin-top: 20px;
}




/* ------------------------------single author---------------------------------------------------- */

.author-wrapper{
    padding: 100px 0;
}
.authur-img img{
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1;
}
.author-content p{
    line-height: 28px;
    font-size: 14px;
}










/* ------------------------------Responsive---------------------------------------------------- */

@media screen and (max-width:764px) {
    .footer-wrapper{
        padding: 50px 0;
    }
    .hero-banner{
        text-align: center;
    }
    .hero-btns {
        justify-content: center;
    }
    .single-product-content{
        margin-top: 20px;
    } 
    
}
@media screen and (max-width:568px) {
    .book-header{
        flex-direction: column;
        gap: 10px;
    }
}